<div>
  <div class="mt-2 mb-4 input-box">
    <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText />
    <label class="d-flex flex-wrap small color-text"><em>поиск тура</em></label>
  </div>

  <div appBlocksStyle
       *ngIf="tickets"
       #tourWrap
       #blockDirective='blockStyle'
       [selector]="'.ticket-item'"
       [initFirst]="false"
       (renderComplete)="directiveRenderComplete($event)"
       class="d-flex flex-wrap justify-content-around">


    <div *ngFor="let item of tickets; let i=index" class="ticket-item col-3 m-2 parent"  #tourWrap class=" ">
      <article>
        <div class="article-wrapper">
          <figure>
            <img src="http://localhost:3000/public/{{item.img}}"/>
          </figure>

          <div class="article-body">
            <h2>{{item.name}}</h2>
            <div class="ticket-price">Цена: {{item.price}} руб.</div>
            <div class="ticket-location">Город: {{item.location}} , отправление {{item.date | date:"dd.MM.yyyy"}}</div><br>
            <p class="description">
              {{item.description}}
            </p>

            <div class="article-bottom">
              <a  (click)="goToTicketInfoPage(item)">
                Подробнее <span class="sr-only">about this is some title</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon article-bottom-read-more" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
              </a>

              <p-button pTooltip="удалить тур из базы" 
                        tooltipPosition="top" 
                        icon="pi pi-trash"
                        class="article-bottom-del"
                        styleClass="p-button-rounded p-button-danger p-button-text"
                        (click)="showDeleteTourDialog(item)"
                        *ngIf="_hasView"></p-button>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<p-dialog [(visible)]="displayDeleteTour" 
          [style]="{width: '40vw'}" 
          [draggable]="false" 
          [resizable]="false">
  <p class="fon-footer-1">Вы уверены, что хотите удалить из базы тур <span class="color-accent">{{tourName}} от
      {{tourDate| date:"dd.MM.yyyy"}}</span>?<br>Действие невозможно отменить</p>
  <ng-template pTemplate="footer">
    <p-button (click)="deleteTourById()" label="Да, удалить тур" styleClass="p-button-text"></p-button>
    <p-button (click)="displayDeleteTour = false" label="Нет, оставить тур" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>