.auth_text {
  margin-left: 2rem;
}

.auth-name {
  text-align: center;
  margin-top: 1rem;
  font-size: 3rem;
  font-family: Comic Sans MS;
  font-weight: 900;
}

.auth_logo-svg {
  margin-top: 1rem;
  max-width: 12rem;
}

.auth-slogan {
  color: black;
  font-weight: 600;
  font-family: Comic Sans MS;
}

.auth-dialog {
  margin-top: 2rem;
}

.tab{
  width: 25rem;
}

.tab-item{
  display: inline-block;
  width: 50%;
  padding: 1rem;
  border-bottom: 3px solid #595a5a;
  text-shadow: 1px 1px 2px black;
  font-size: 1.7rem;
  text-align: center;
  background-color: rgba(1, 29, 50, 0.4);
  text-shadow: 1px 1px 2px black;
  color: #a7a89f;
  font: Arial, sans-serif;
  font-weight: 900;
}

.tab-item-active{
  color: #1cdf8a;
  border-bottom: 3px solid #30d5ac;
}

.tab-item:hover{
  border-bottom: 3px solid rgb(27, 159, 235);
  color: rgb(27, 159, 235);
  font-weight: bold;
}

.tab-item:active{
  text-shadow: 3px 2px 2px black;
}

.tab-panel{
  padding-bottom: 1rem;
  background-color: rgba(1, 29, 50, 0.4);
  text-shadow: 1px 1px 2px black;
  color: #a7a89f;
  font: Arial, sans-serif;
  font-weight: 900;
}