<div class="fon-1"></div>
<div class="fon-2">
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <img src="../../../assets/img/logotip.svg" alt="Логотип" class="auth_logo-svg">
    </div>
    <div class="auth_text">
      <div class="">
        <h1 class="auth-name">Тянь-Шань тур</h1>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <h3 class="auth-slogan">Путешествуй по центральной азии!</h3>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center auth-dialog">

  <div class="tab">
    <div class="tab-panel">
      <div class="tab-item" (click)="tab(1)" [class.tab-item-active]="tabActive === 1">
        Авторизация
      </div>
      <div class="tab-item"  (click)="tab(2)" [class.tab-item-active]="tabActive === 2">
        Регистрация
      </div>
    </div>

    <div [ngSwitch]="tabActive" class="tab-panel">
      <ng-template ngSwitchCase="1"> <app-authorization></app-authorization></ng-template>
      <ng-template ngSwitchCase="2"><app-registration></app-registration></ng-template>
      <ng-template ngSwitchDefault> <app-authorization></app-authorization></ng-template>
    </div>
  </div>
  
  <p-toast position="top-left"></p-toast>
</div>