<div class="d-flex flex-column col-6 mx-5 authorization-input-wrap">
  <div class="mt-2">
    <span class="mt-1 ">{{loginText}}</span>
    <input type="text"
           class="input-text"
           [ngClass]="{'input-text-error': error}"
           [(ngModel)]="login"/>
  </div>
  <div class="mt-2">
    <span class="mt-1">{{pswText}}</span>
    <input type="password"
           class="input-text"
           [ngClass]="{'input-text-error': error}"
           [(ngModel)]="psw"
           (focus)="onInputAuth()"/>

  </div>
  <div class="mt-3">
    <!-- <p-checkbox (onChange)="vipStatusSelected()"
                label="Есть VIP-карта"
                name="groupname"
                [binary]="true"
                [(ngModel)]="selectedValue"
                class="input-checkbox"></p-checkbox> -->
                <label for="happy" class="input-checkbox">
    <input type="checkbox"   id="happy" name="groupName" value="yes">
        Есть VIP-карта</label>

    <div class="mt-2" *ngIf="selectedValue">
      <span>Номер карты</span>
      <input type="text" class="mt-1"
             pInputText
             [(ngModel)]="authCardNumber"/>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-center">
    <button pButton [disabled]="!login || !psw " (click)="onAuth($event)"
            class="p-button-info">{{authTextButton}}</button>
  </div>

</div>
