<p-accordion>
  <p-accordionTab header="Статистика по турам" *ngIf="user?.role === 'admin'">
    <p-table [value]="ticketOrder" 
             [scrollable]="true" 
             [rowHover]="true" 
             [rows]="10" 
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[10,25]" 
             [paginator]="true">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticketOrder>
        <tr>
          <td>{{ ticketOrder.name }}</td>
          <td>{{ ticketOrder.price }}</td>
          <td>{{ ticketOrder.location }}</td>
          <td>{{ ticketOrder.date | date:"dd.MM.yyyy" }}</td>
          <td>{{ ticketOrder.countBooking }}</td>
          <td>{{ ticketOrder.countBooking*ticketOrder.price }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-accordionTab>

  <p-accordionTab header="Статистика по статусам заказов" *ngIf="user?.role === 'admin'">
    <div class="card">
      <p-chart type="doughnut" [data]="dataOrderStatus" [options]="optionsOrderStatus" [style]="{ 'width': '501px' , 'margin-left' : '30%'}" ></p-chart>
    </div>
  </p-accordionTab>

  <p-accordionTab header="Статистика по городам">
    <div class="card">
      <p-chart type="bar" 
               [data]="dataStatisticsByCity" 
               [options]="optionsStatisticsByCity">
      </p-chart>
    </div>
  </p-accordionTab>

  <p-accordionTab header="Статистика по сезонам">
    <div class="card flex justify-content-center">
      <p-dropdown [options]="cities"
                  [filter]="true"
                  filterBy="name"
                  [(ngModel)]="selectedCity"
                  optionLabel="name" 
                  [showClear]="true" 
                  placeholder="Выберете город"
                  (ngModelChange)="onSelectedCity()">
      </p-dropdown>
    </div>
    <div class="card">
      <p-chart type="line" [data]="dataStatisticsBySeason" [options]="optionsStatisticsBySeason"></p-chart>
    </div>
  </p-accordionTab>

  <p-accordionTab header="Статистика по популярным направлениям">
    <div class="card">
      <p-chart type="bar" [data]="dataPopularDestination" [options]="optionsPopularDestination"></p-chart>
    </div>
  </p-accordionTab>
</p-accordion>