:host {
  min-width: 300px;
  width: 300px;
  flex-basis: 300px;
  border: 1px solid rgba(128, 128, 128, 0.27);
  height: 100%;

}

.sort::before {
  margin-top: .4rem;
  margin-bottom: .4rem;
  content: "";
  height: 1px;
  background: rgba(127, 127, 127, 0.3);
  display: block;
}

.dropdown-aside {
  min-width: 137px;
}

.p-inputtext {
  box-shadow: none !important;
  border-radius: 0 ;
  color: rgb(27, 159, 235);
  font-size: 1.5em;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #1cdf8a;

}

.p-inputtext:hover{
  border: none;
  box-shadow: none !important;
  outline: none;
  box-shadow: none !important;
}

// :focus-visible