<div>
  <div class="m-3 time-block">
    Сегодняшняя дата: {{ time | date : 'dd.MM.yyyy' }}
  </div>

  <div class="m-3 sort" *ngIf="viewAside">
    <span class="color-text">Фильтр туров</span>

    <div class="mt-3 "> По цене (руб):
      <div>
        <button class="btn btn-outline-secondary m-2 " (click)="changeTourFilter('priceMin')">Дешевле</button>
      </div>
      <div>
        <button class="btn btn-outline-secondary m-2" (click)="changeTourFilter('priceMax')">Дороже</button>
      </div>
    </div>
    <div class="mt-3"> По дате тура:
      <p-calendar [(ngModel)]="dateValue" (onSelect)="changeTourFilter('date',$event)"></p-calendar>
    </div>

    <div class="mt-3 ">
      <span class="d-flex flex-wrap">По типу тура :</span>
      <p-dropdown class="mt-3 dropdown-aside" [options]="tourTypes" optionLabel="label" [(ngModel)]="typeTour"
        (onChange)="changeTourFilter('type',$event)">
      </p-dropdown>
    </div>

    <div class="mt-3 btn-outline-secondary">
      <button class="btn  btn-secondary btn-sm m-2" (click)="changeTourFilter('reset')">сбросить фильтры</button>
    </div>
  </div>

  <div class="m-4" *ngIf="_hasView">
    <p-button label="Удалить все туры"
              styleClass="p-button-outlined p-button-danger"
              (click)="displayDeleteTours = true"></p-button>
  </div>

  <p-toast key="server" position="top-left"></p-toast>

  <p-dialog [(visible)]="displayDeleteTours"
            [style]="{width: '40vw'}"
            [draggable]="false"
            [resizable]="false">
    <p class="fon-footer-1">Вы уверены, что хотите удалить из базы все туры ?<br>Действие невозможно отменить</p>
    <ng-template pTemplate="footer">
      <p-button (click)="deleteTours()" label="Да" styleClass="p-button-text"></p-button>
      <p-button (click)="displayDeleteTours = false" label="Отмена" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>