.tour-loader-wrap span {
  min-width: 150px;
  display: inline-block;
}

h4 {
  color: #3B82F6;
  font-weight: bold;
}

textarea {
  min-width: 450px;
  padding: 12px;
}

.w-220 {
  width: 220px;
}