img {
  object-fit: cover;
}

.ticket-info-description {
  text-align: justify;
}

.input-box {
  display: block;
  position: relative;
  float: left;
  margin: 3.5rem 0 3.5rem;
}

label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  z-index: 1;

}

.h-250 {
  max-height: 380px;
}

.col-width {
  max-width: 350px;
}

.ticket-info-img {
  border-radius: 20px;
}

//стандартное поведение элемента
.fon-img {
  opacity: .8; //непрозрачность элемента 80%
  transition: opacity .5s ease-in-out;
}

//поведение элемента при наведении
.fon-img:hover {
  opacity: 1; //непрозрачность элемента 100%
  cursor: pointer; //изменение курсора
  transition: all .5s ease-in-out; //плавность изменения свойства
}

.ticket-info {
  margin-left: 2rem;
}

.user-info {  
  & span {
    width: 180px;
    display: inline-block;
  }
}

.order-button {
  margin-top: 2rem;
}

// .p-inputtext {
//   box-shadow: none !important;
//   border-radius: 0;
//   color: rgb(27, 159, 235);
//   font-size: 1.5em;
//   text-shadow: 1px 1px 2px black;
//   font-weight: bold;
//   background: transparent;
//   border: none;
//   outline: none;
//   border-bottom: 2px solid #1cdf8a;
// }

.main-block{
  padding-bottom: 2rem;
}
