<div class="d-flex">
  <div class="flex-grow-1">
    <p-menubar [model]="items">
      <div class="user-login" *ngIf="user?.login">
        {{user?.login}}
      </div>
    </p-menubar>
  </div>
</div>