<footer class="main_footer">
  <div class="footer_inner clearfix">
    <div class="container">
      <div class="column footer_block">
        <div class="footer_org">
          <div class="footer_copyright">&copy; Тянь-Шань тур 2023. Все права защищены.</div>
        </div>
      </div>
      <div class="column footer_block">
        <div class="footer_heading">Контакты</div>
        <address class="address">
          <a class="address_item" href="mailto:tyan-shan-tour@yandex.ru"><i class="fas fa-envelope"></i>tyan-shan-tour@yandex.ru</a>
          <a class="address_item" href="tel:+78127030202"><i
            class="fas fa-phone-alt"></i>+7&nbsp;(812)&nbsp;703-02-02</a>
        </address>
      </div>
      <div class="column footer_block">
        <div class="footer_heading">Мы предлагаем</div>
        <div class="additional">
        <a class="additional_item" (click)="showInfoVipCard()"><i class="fas fa-contact-card"></i>VIP-карта клиента</a>
        <a class="additional_item" (click)="showInfoCooperation()"><i class="fas fa-hand-holding-hand"></i>Сотрудничество</a>
      </div>
      </div>
      <div class="column footer_block">
        <div class="footer_heading text-center">Подпишитесь на&nbsp;нас</div>
        <div class="social">
          <a href="" class="social_item fab fa-vk"></a>
          <a href="" class="social_item fab fa-telegram-plane"></a>
          <a href="" class="social_item fab fa-youtube-square"></a>
          <a href="" class="social_item fab fa-skype"></a>
        </div>
      </div>

    </div>
  </div>
</footer>

<p-dialog   [(visible)]="displayCompany" [style]="{width: '30vw'}">
  <svg class="pb-4 logo-footer-modal" viewBox="0 0 178 54">
    <path fill-rule="evenodd" clip-rule="evenodd"
          d="M27 53.5C19.6752 53.5 13.0317 50.6373 8.16748 45.9895C8.09009 45.9156 8.01318 45.8412 7.93677 45.7664L7.90808 45.7383L7.81921 45.6506C2.98547 40.8622 0 34.2733 0 27C0 19.6823 3.02209 13.0573 7.90808 8.26166C12.7942 3.46613 19.5442 0.5 27 0.5C41.9117 0.5 54 12.3644 54 27C54 41.6356 41.9117 53.5 27 53.5ZM11.8527 23.6652L6.78113 20.5211C7.8103 17.4274 9.57202 14.5831 11.9604 12.239C12.8829 11.3336 13.8813 10.52 14.9412 9.80408L11.8527 23.6652ZM12.5732 42.1873L17.0685 45.5397C19.722 46.9089 22.6575 47.7231 25.6871 47.9063L27.7253 41.4154L12.5732 42.1873ZM29.3165 47.8222C34.106 47.3091 38.6031 45.2158 42.0503 41.8503L38.3627 36.1829L29.3165 47.8222ZM45.5786 37.307C45.6519 37.1798 45.7238 37.0518 45.7943 36.9232L46.4674 35.5825C47.6909 32.9089 48.3412 29.9874 48.3412 27H48.2692C48.2692 25.8275 48.1686 24.6651 47.9723 23.524L41.9241 22.8862L45.5786 37.307ZM42.0396 12.239C40.9504 11.17 39.7552 10.2289 38.4784 9.4256L34.2662 13.8676L46.6382 18.9832C45.5796 16.4853 44.0265 14.1891 42.0396 12.239ZM27 6.12476C24.66 6.12476 22.3597 6.50323 20.1842 7.22559L20.5509 13.0721L34.0144 7.29266C31.7805 6.52661 29.4114 6.12476 27 6.12476ZM5.96985 30.5633C6.4281 33.1689 7.38464 35.6625 8.78394 37.9127L15.3904 35.861L6.24158 24.1592L5.96985 30.5633ZM27 15.8239L36.3667 19.597L38.5912 29.1627L32.3584 36.8336H22.3617L16.1288 29.1627L18.3533 19.597L27 15.8239Z M83.832 17.3279C82.0614 16.1545 79.5227 15.5679 76.2161 15.5679C75.2987 15.5679 74.2321 15.6105 73.0161 15.6959C71.8 15.7812 70.6481 15.9305 69.5601 16.1439V37.9999H74.552V30.5759H76.1201C79.448 30.5759 82.0081 29.9892 83.8 28.8159C85.592 27.6212 86.488 25.6906 86.488 23.0239C86.488 20.3785 85.6028 18.4799 83.832 17.3279ZM75.448 19.8559C75.6157 19.846 75.7834 19.8384 75.9512 19.8331C76.1461 19.827 76.3411 19.8239 76.536 19.8239C77.2614 19.8239 77.9227 19.8772 78.52 19.9839C79.1174 20.0692 79.6188 20.2399 80.024 20.4958C80.4507 20.7305 80.7708 21.0505 80.984 21.4559C81.2188 21.8612 81.3361 22.3732 81.3361 22.9919C81.3361 24.2719 80.8987 25.1465 80.024 25.6158C79.1494 26.0852 77.848 26.3199 76.1201 26.3199H74.552V19.9199C74.8081 19.8986 75.1067 19.8772 75.448 19.8559Z M104.533 33.1999C104.917 32.0905 105.109 30.8745 105.109 29.5519C105.109 28.2292 104.906 27.0239 104.501 25.9359C104.096 24.8479 103.53 23.9199 102.805 23.1519C102.08 22.3839 101.205 21.7866 100.181 21.3599C99.1783 20.9332 98.0691 20.7198 96.853 20.7198C95.6584 20.7198 94.5491 20.9332 93.525 21.3599C92.5223 21.7866 91.6477 22.3839 90.901 23.1519C90.1758 23.9199 89.5997 24.8479 89.1731 25.9359C88.7677 27.0239 88.5651 28.2292 88.5651 29.5519C88.5651 30.8745 88.7677 32.0905 89.1731 33.1999C89.5784 34.2878 90.1437 35.2266 90.869 36.0159C91.5944 36.7839 92.4584 37.3812 93.4611 37.8079C94.4851 38.2346 95.6157 38.4479 96.853 38.4479C98.1117 38.4479 99.2424 38.2346 100.245 37.8079C101.269 37.3812 102.144 36.7839 102.869 36.0159C103.594 35.2266 104.149 34.2878 104.533 33.1999ZM99.3491 26.0959C99.9464 26.9279 100.245 28.0799 100.245 29.5519C100.245 31.0239 99.9464 32.1972 99.3491 33.0719C98.7731 33.9252 97.941 34.3519 96.853 34.3519C95.765 34.3519 94.9224 33.9252 94.3251 33.0719C93.7278 32.1972 93.4291 31.0239 93.4291 29.5519C93.4291 28.0799 93.7278 26.9279 94.3251 26.0959C94.9224 25.2426 95.765 24.8159 96.853 24.8159C97.941 24.8159 98.7731 25.2426 99.3491 26.0959Z M108.003 29.5839C108.003 28.3679 108.195 27.2266 108.579 26.1599C108.984 25.0719 109.56 24.1332 110.307 23.3439C111.053 22.5332 111.96 21.8932 113.027 21.4239C114.093 20.9545 115.309 20.7198 116.675 20.7198C117.571 20.7198 118.392 20.8052 119.139 20.9759C119.885 21.1252 120.611 21.3492 121.315 21.6479L120.323 25.4559C119.875 25.2852 119.384 25.1359 118.851 25.0079C118.317 24.8799 117.72 24.8159 117.059 24.8159C115.651 24.8159 114.595 25.2532 113.891 26.1279C113.208 27.0026 112.867 28.1545 112.867 29.5839C112.867 31.0985 113.187 32.2719 113.827 33.1039C114.488 33.9359 115.629 34.3519 117.251 34.3519C117.827 34.3519 118.445 34.2985 119.107 34.1919C119.768 34.0852 120.376 33.9146 120.931 33.6799L121.603 37.5839C121.048 37.8185 120.355 38.0212 119.523 38.1919C118.691 38.3625 117.773 38.4479 116.771 38.4479C115.234 38.4479 113.912 38.2239 112.803 37.7759C111.693 37.3065 110.776 36.6772 110.051 35.8879C109.347 35.0985 108.824 34.1705 108.483 33.1039C108.163 32.0159 108.003 30.8425 108.003 29.5839Z M141.571 20.0799V15.8239H123.203V20.0799H129.891V37.9999H134.883V20.0799H141.571Z M159.403 21.1678C158.443 24.4105 157.44 27.4506 156.395 30.2878C155.349 33.1252 154.208 35.8772 152.971 38.5439C152.523 39.5038 152.075 40.3145 151.627 40.9759C151.179 41.6585 150.688 42.2132 150.155 42.6399C149.621 43.0879 149.013 43.4079 148.331 43.5999C147.669 43.8132 146.891 43.9199 145.995 43.9199C145.248 43.9199 144.555 43.8452 143.915 43.6959C143.296 43.5679 142.784 43.4185 142.379 43.2479L143.211 39.4399C143.701 39.6105 144.139 39.7278 144.523 39.7919C144.907 39.8559 145.312 39.8879 145.739 39.8879C146.592 39.8879 147.243 39.6532 147.691 39.1839C148.16 38.7359 148.555 38.1066 148.875 37.2959C147.787 35.1625 146.699 32.7732 145.611 30.1279C144.523 27.4612 143.499 24.4745 142.539 21.1678H147.595C147.808 21.9999 148.053 22.9066 148.331 23.8879C148.63 24.8479 148.939 25.8292 149.259 26.8318C149.44 27.386 149.62 27.9334 149.801 28.474C149.94 28.8907 150.079 29.3033 150.219 29.7119C150.278 29.8753 150.337 30.0362 150.395 30.1945C150.476 30.4151 150.556 30.6307 150.635 30.8412C150.823 31.3471 151.005 31.824 151.179 32.2719C151.456 31.5038 151.744 30.6505 152.043 29.7119C152.341 28.7732 152.63 27.8132 152.907 26.8318C153.205 25.8292 153.483 24.8479 153.739 23.8879C154.016 22.9066 154.261 21.9999 154.475 21.1678H159.403Z M177.127 33.1359C177.447 32.0692 177.607 30.8852 177.607 29.5839C177.607 28.2399 177.404 27.0239 176.999 25.9359C176.615 24.8479 176.049 23.9305 175.303 23.1839C174.556 22.4159 173.639 21.8292 172.551 21.4239C171.463 20.9972 170.225 20.7839 168.839 20.7839C168.263 20.7839 167.655 20.8159 167.015 20.8799C166.718 20.9003 166.421 20.9257 166.124 20.956C165.802 20.9888 165.481 21.0275 165.159 21.0719C164.562 21.1572 163.985 21.2639 163.431 21.3918C162.876 21.4985 162.385 21.6158 161.959 21.7439V43.9199H166.727V37.5839C167.26 37.8185 167.815 37.9999 168.391 38.1279C168.967 38.2559 169.585 38.3199 170.247 38.3199C171.442 38.3199 172.497 38.1066 173.415 37.6799C174.332 37.2532 175.1 36.6559 175.719 35.8879C176.338 35.1199 176.807 34.2025 177.127 33.1359ZM171.751 26.1919C172.412 27.0665 172.743 28.2399 172.743 29.7119C172.743 32.7625 171.612 34.2878 169.351 34.2878C168.86 34.2878 168.37 34.2239 167.879 34.0959C167.409 33.9679 167.026 33.8079 166.727 33.6158V25.0079C166.798 24.9949 166.875 24.983 166.958 24.972L167.039 24.9618L167.115 24.9531C167.268 24.9366 167.437 24.9228 167.623 24.9119C167.985 24.8692 168.38 24.8479 168.807 24.8479C170.108 24.8479 171.089 25.2959 171.751 26.1919Z"/>
  </svg>
  <p class="fon-footer-1">Компания&nbsp;&mdash; Тянь-Шань тур, команда профессионалов, которая собрала для вас самые лучшие туристические путевки в&nbsp;разные уголки нашей необъятной Родины.
    Мы&nbsp;поможем быстро и&nbsp;удобно найти подходящее место для отдыха и&nbsp;новых впечатлений. Вы&nbsp;&mdash; выбираете, мы&nbsp;&mdash; делаем все остальное! А&nbsp;еще с&nbsp;нами удобно и&nbsp;безопасно. Ну, что, поехали?</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayCompany=false" label="Поехали!" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayVipCard" [style]="{width: '35vw'}">
  <h5 class="pb-4 logo-footer-modal-header">
    VIP-карта путешественника
  </h5>
  <div class="fon-footer-1">
    <p>
      Путешествуйте с нашей компанией и получайте дополнительную скидку.
    </p>
    <p>
      Интересных путешествий!
    </p>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayVipCard=false" label="Ознакомлен" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayCooperation" [style]="{width: '35vw'}"  class="dialog">
  <h5 class="pb-4 ">
    Сотрудничество с Тянь-Шань тур
  </h5>
  <div class="fon-footer-1">
    Размещайте тур на&nbsp;нашем сайте.
    <p>Пришлите на&nbsp;почту <span class="color-accent">tyan-shan-tour@yandex.ru</span> информацию о&nbsp;вашей компании :</p>
    <ul>
      <li>ваш номер телефона</li>
      <li>ваши туристические направления</li>
      <li>предоставьте документы для заключения договоров на сотрудничество</li>
    </ul>
    <p class="mt-4">Будем рады сотрудничеству!</p>
  </div>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayCooperation=false" label="Ознакомлен" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
