<div class="d-flex flex-column col-6 mx-5 registration-input-wrap m-auto">
  <div class="mt-2">
    <span class="mt-1">Логин</span>
    <input type="text"
           class="input-text"
           [ngClass]="{'input-text-error': error.login}"
           [(ngModel)]="login"
           (focus)="onInputReg()"/>
  </div>

  <div class="mt-2">
    <span class="mt-1">Пароль</span>
    <input type="password"
           class="input-text"
           [ngClass]="{'input-text-error': error.password}"
           [(ngModel)]="psw"
           (focus)="onInputReg()"/>
  </div>

  <div class="mt-2">
    <span class="mt-1">Подтверждение пароля</span>
    <input type="password"
           class="input-text"
           [ngClass]="{'input-text-error': error.password}"
           [(ngModel)]="pswRepeat"
           (focus)="onInputReg()"/>
  </div>

  <div class="mt-2">
    <span class="mt-1">Почта</span>
    <input type="text"
           class="input-text"
           [(ngModel)]="email"/>
  </div>

  <div *ngIf="showUserCard; else noSelected">
    <span class="mt-3">Номер VIP-карты</span>
    <input type="text"
           class="input-text"
           [(ngModel)]="cardNumber"/>
  </div>

</div>

<div class="d-flex flex-column col-6 m-auto p-3 mt-5 d-none">
  <p-checkbox label="Сохранить пользователя в локальном хранилище"
              name="groupname"
              [binary]="true"
              [(ngModel)]="saveUserLocalStore"></p-checkbox>
</div>

<div class="mt-4 d-flex justify-content-center">
  <button pButton [disabled]="!login || !psw || !pswRepeat"
          type="button"
          (click)="registration($event)"
          class="p-button-info"> Зарегистрироваться
  </button>
</div>

<ng-template #noSelected>
  <p class="m-3">Карта не выбрана</p>
</ng-template>
