//тут все общие стили

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Times New Roman, Helvetica, sans-serif;
  font-size: 16px;
}

.color-text {
  color: #969696
}

.input-error {
  border-bottom: 2px solid red !important;
}

body {
  height: 100vh;
}


.fon-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/img/ala-kul.jpg");
  z-index: -2;
  opacity: .85;
  background-repeat: no-repeat;
  background-size: cover;
}

.fon-2 {
  background-color: rgba(1, 29, 61, 0.3);
  z-index: -1;
  padding-bottom: 1rem;
}

.fon-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/img/issikkul.jpg");
  z-index: -2;
  opacity: .85;
  background-repeat: no-repeat;
  background-size: cover;
}

.fon-footer-1 {
  color: rgba(1, 29, 61, 0.91);
  background: rgba(59, 130, 246, 0.2);
  font-weight: 600;
  padding: 2rem;
  border-radius: 8px;
  text-align: justify;
}

.logo-footer-modal-header {
  color: rgba(59, 130, 246);
  font-weight: 800;
}

.color-accent {
  color: rgb(59, 130, 246);
}

.input-text {
  border-radius: 0;
  color: #1cdf8a;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #1cdf8a;
}

.input-text:focus {
  border-bottom: 3px solid rgb(27, 159, 235);
  color: rgb(27, 159, 235);
}

.input-text-error{
  color: #df3d15;
  border-bottom: 3px solid #df3d15;
}

.input-checkbox input[type=checkbox]{
  border: 2px solid red;
  color: #df3d15;
}
