.p-dropdown {
  background-color: #84b4ef;
  min-width: 220px;
}

.p-calendar {
  min-width: 220px;
}

.p-menubar {
  border-radius: 0 !important;
}

.p-element {
  font-family: Times New Roman, Helvetica, sans-serif !important;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: none !important;
}

.p-dialog-header {
padding: 0.2rem !important;
}

.p-dialog-content{
  padding-bottom: 0 !important;
}

.p-card{
  margin: 0 !important;
}



