td:hover {
  cursor: pointer;
}

.table-header {
  font-size: 1.2rem;
  color: rgba(59, 130, 246, 0.8);
  padding: 1rem;
}

.user-card {
  padding: 1rem;
}

.newOrder {
  color: rgba(59, 130, 246, 0.8);
}

.approvedOrder {
  color: rgba(22, 171, 10, 0.8);
  font-weight: bold;
}

.width {
  width: 180px !important;
}

.parent {
  position: relative;
}

a {
  cursor: pointer;
}

.btn-padding {
  margin: 0 0.5rem;
}