<div *ngIf="user.role === 'user'">
  <div *ngIf="user.cardNumber" class="user-card">
    <div class="fw-bold">Номер VIP-карты: {{ user.cardNumber }}</div>
    <div *ngIf="ordersApproved !== 0">Вы уже накопили {{ ordersApproved * 100 }} баллов</div>
  </div>
  <div *ngIf="orders.length === 0">
    Список заказов пока пуст. Перейдите в раздел 
    <a class="color-accent" routerLink="/tickets/tickets-list">Туры</a> 
    для выбора увлекательного путешествия!
  </div>
</div>

<div *ngIf="user.role === 'admin'">
  <div *ngIf="orders.length === 0">
    Список заказов пока пуст. Перейдите в раздел 
    <a class="color-accent" routerLink="/tickets/tickets-list">Туры</a> 
    для выбора увлекательного путешествия!
  </div>
</div>

<div *ngIf="orders.length !== 0">
  <div class="table-header ">Список заказанных туров</div>

  <p-table [value]="orders" 
            [scrollable]="true" 
            [rowHover]="true" 
            [rows]="10" 
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25]" 
            [paginator]="true">

    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-orders let-rowIndex="rowIndex" *ngIf="user.role === 'user'">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>     
          <button [disabled]="orders.orderType === 'newOrder'"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-check"
                  class="p-button-rounded p-button-outlined btn-padding"
                  tooltipPosition="top"
                  pTooltip="В обработку"
                  (click)="changeOrderType(orders, 'newOrder')"></button>

          <button [disabled]="orders.orderType === 'canceledOrder'"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-times"
                  class="p-button-rounded p-button-danger p-button-outlined btn-padding"
                  tooltipPosition="top" 
                  pTooltip="Отменить заказ" 
                  (click)="changeOrderType(orders, 'canceledOrder')"></button>
        </td>
        <td [ngSwitch]="orders.orderType">
          <ng-template ngSwitchCase="newOrder"><div class="newOrder parent">в обработке</div></ng-template>
          <ng-template ngSwitchCase="approvedOrder"><div class="approvedOrder">подтвержден</div></ng-template>
          <ng-template ngSwitchCase="canceledOrder"><div class="color-text">отменен</div></ng-template>           
        </td>
        <td pTooltip="подробнее о туре"
            tooltipPosition="top"
            (click)="goToTicketInfoPage(orders)">{{ orders.nameTicket }}</td>
        <td>{{ orders.price }}</td>
        <td>{{ orders.date | date:"dd.MM.yyyy" }}</td>
        <td>{{ orders.location }}</td>
        <td>{{ orders.firstName }}</td>
        <td>{{ orders.lastName }}</td>
        <td>{{ orders.phone }}</td>
        <td>{{ orders.eMail }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-orders let-rowIndex="rowIndex" *ngIf="user.role === 'admin'">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>
          <button [disabled]="orders.orderType === 'newOrder'"
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-check"
                  class="p-button-rounded p-button-outlined btn-padding"
                  tooltipPosition="top"
                  pTooltip="В обработку"
                  (click)="changeOrderType(orders, 'newOrder')"></button>

          <button [disabled]="orders.orderType === 'approvedOrder'"
                  pButton 
                  pRipple 
                  type="button" 
                  icon="pi pi-check" 
                  class="p-button-rounded p-button-success p-button-outlined btn-padding" 
                  tooltipPosition="top" 
                  pTooltip="Подтвердить заказ" 
                  (click)="changeOrderType(orders, 'approvedOrder')"></button>

          <button [disabled]="orders.orderType === 'canceledOrder'"
                  pButton 
                  pRipple 
                  type="button" 
                  icon="pi pi-times" 
                  class="p-button-rounded p-button-danger p-button-outlined btn-padding" 
                  tooltipPosition="top" 
                  pTooltip="Отменить заказ" 
                  (click)="changeOrderType(orders, 'canceledOrder')"></button>

          <button pButton 
                  pRipple 
                  type="button" 
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger p-button-outlined btn-padding" 
                  tooltipPosition="top" 
                  pTooltip="Удалить заказ" 
                  (click)="showDeleteOrderDialog(orders)"></button>
        </td>
        <td [ngSwitch]="orders.orderType">
          <ng-template ngSwitchCase="newOrder"><div class="newOrder parent">в обработке</div></ng-template>
          <ng-template ngSwitchCase="approvedOrder"><div class="approvedOrder">подтвержден</div></ng-template>
          <ng-template ngSwitchCase="canceledOrder"><div class="color-text">отменен</div></ng-template>            
        </td>

        <td>{{ orders.login }}</td>
        <td pTooltip="подробнее о туре" 
            tooltipPosition="top" 
            (click)="goToTicketInfoPage(orders)">
           {{ orders.nameTicket}},<br>{{ orders.location }} {{ orders.date | date:"dd.MM.yyyy" }}</td>
        <td>{{ orders.price }}, руб.</td>
        <td>{{ orders.firstName }} {{ orders.lastName }},<br>дата рождения {{ orders.birthDay | date:"dd.MM.yyyy"}}</td>
        <td>тел.:{{ orders.phone }},<br>e-mail: {{ orders.eMail }}</td>
      </tr>
    </ng-template>
  </p-table>
</div> 

<p-dialog [visible]="showModal" 
          [breakpoints]="{'960px': '75vw'}" 
          [style]="{width: '40vw'}"
          [draggable]="false" 
          [resizable]="false">
  <p class="fon-footer-1">Вы уверены, что хотите отменить заказ 
    <span class="color-accent">{{ orderName }} от {{ orderDate | date:"dd.MM.yyyy" }}</span>?<br>Действие невозможно отменить
  </p>
  <ng-template pTemplate="footer">
    <p-button (click)="deleteOrder()" label="Да, удалить заказ" styleClass="p-button-text"></p-button>
    <p-button (click)="showModal = false" label="Нет, оставить заказ" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>